<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>냉장고 관리</title>
    </head>
    <body>
        <h2>냉장고 관리</h2>
        <a href="/item-add"><button>아이템 추가</button></a>
        <a href="/item-check"><button>아이템 확인</button></a>
        <br />
        <br />
        <a href="/category-add"><button>카테고리 추가</button></a>
        <br />
        <br />
        <a href="/setting"><button>설정</button></a>
    </body>
</html>