<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>아이템 확인</title>
    </head>
    <style>
        table {
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
        }
        th {
            background-color: #d2d2d2;
        }
    </style>
    <body>
        <h2>아이템 확인</h2>

        <table id="itemTable">
            <tr>
                <th>이름</th>
                <th>개수</th>
                <th>소비기한</th>
                <th>변경 / 삭제</th>
            </tr>
        </table>

        <a href="/dashboard">대시보드</a>

        <script src="/item-check.js" type="module"></script>
    </body>
</html>